page-supply {
  .emty-circle {
    box-sizing: border-box;
    width: 27px;
    height: 27px;
    // opacity: 0.37;
    border: 3px solid color($colors, subtext-shy);
    border-radius: 50%;
    margin: 0 auto;
    background: url('http://animal-dream.com/data_images/duck/duck5.jpg') center fixed;
  }
  .pallikesed {
    margin-top: 2em;
  }
  .fulfilled {
    box-sizing: border-box;
    box-sizing: border-box;
    width: 17.5px;
    height: 17.5px;
    border: 0.5px solid #979797;
    border-radius: 50%;
  }
}
